@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

.rbc-allday-cell {
  display: none;
}

.rbc-event {
  font-family: "Noto Sans JP", sans-serif;
}

.rbc-time-view {
  border: none;
}

.rbc-time-gutter {
  padding: 0 0.5em;
  border-right: 2px solid #2d3436;
  font-weight: bold;
  color: #2d3436;
}

.rbc-time-header.rbc-overflowing {
  border: none;
}

.rbc-day-slot .rbc-events-container {
  margin: 0;
}

.rbc-time-content > * + * > * {
  border: none;
}

.rbc-timeslot-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}

.rbc-row {
  height: 3em;
  line-height: 3em;
  border: none;
}

.rbc-header * {
  cursor: text;
  color: #2d3436;
  font-size: larger;
}

.rbc-day-slot .rbc-timeslot-group:nth-child(even) {
  background: #f1f1f1;
}

.rbc-header {
  border: none;
}

.rbc-day-slot {
  border-right: 2px solid #2d3436;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none;
}

.rbc-time-content {
  border-top: none;
}

.rbc-header {
  border-left: none;
}

.rbc-header + .rbc-header {
  border-left: none;
}

.rbc-time-header-content {
  border: none;
}

.rbc-agenda-event-cell,
.rbc-agenda-time-cell,
.rbc-agenda-date-cell {
  font-family: "Noto Sans JP", sans-serif;
  font-size: small;
}

.rbc-agenda-date-cell {
  background-color: #f1f1f1;
}

.rbc-agenda-event-cell-sub {
  font-size: smaller;
  color: #555;
}
