@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.rbc-calendar {
  background: var(--chakra-colors-calendarbg);
}

#dark .rbc-calendar {
  background: var(--chakra-colors-calendarbgdark);
}

.rbc-allday-cell {
  display: none;
}

.rbc-header,
.rbc-label,
.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  font-family: "Source Serif Pro", serif;
}

.rbc-time-view {
  border: none;
}

.rbc-time-gutter {
  padding: 0 0.5em;
  font-weight: bold;
  font-size: large;
  color: var(--chakra-colors-drawerbg);
  margin-right: 5px;
}
#dark .rbc-time-gutter {
  color: var(--chakra-colors-primary-600);
}

.rbc-time-content > * + * > * {
  border: 3px solid;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-color: var(--chakra-colors-drawerbg);
}
#dark .rbc-time-content > * + * > * {
  border-color: var(--chakra-colors-primary-300);
}

.rbc-day-slot .rbc-events-container {
  margin: 0;
}

.rbc-time-column:last-child * {
  border-right: none;
}

.rbc-timeslot-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}
#dark .rbc-time-gutter .rbc-timeslot-group {
  border-bottom: 1px solid var(--chakra-colors-primary-300);
}
#dark .rbc-time-gutter .rbc-timeslot-group:last-child {
  border-bottom: none;
}

.rbc-row {
  height: 3em;
  line-height: 3em;
}

.rbc-header * {
  cursor: text;
  color: var(--chakra-colors-drawerbg);
  font-size: larger;
}
#dark .rbc-header * {
  color: var(--chakra-colors-primary-600);
}

.rbc-day-slot .rbc-timeslot-group:nth-child(even) {
  background: var(--chakra-colors-calendarbggrey);
}
#dark .rbc-day-slot .rbc-timeslot-group:nth-child(even) {
  background: var(--chakra-colors-agendabgdark);
}

.rbc-header {
  border: none;
}

.rbc-day-slot {
  border: none;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none;
}

.rbc-time-content {
  border-top: none;
}

.rbc-header + .rbc-header {
  border-left: none;
}

.rbc-time-header-content {
  border: none;
}

.rbc-agenda-event-cell,
.rbc-agenda-time-cell {
  font-size: small;
  line-height: 120%;
}

.rbc-agenda-time-cell {
  border: 1px solid var(--chakra-colors-primary-300);
}

.rbc-agenda-date-cell {
  background: var(--chakra-colors-calendarbggrey);
  border: none;
}

#dark .rbc-agenda-table .rbc-agenda-date-cell {
  background: var(--chakra-colors-calendarbgdark);
}

.rbc-agenda-event-cell-sub {
  font-size: x-small;
  color: var(--chakra-colors-drawerbg);
}

#dark .rbc-agenda-table * {
  background: var(--chakra-colors-agendabgdark);
  color: var(--chakra-colors-calendarbg);
}

#dark .rbc-agenda-table {
  border: none;
}
